!!!
html
  head
    title title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js')
    link(rel='stylesheet', href='/stylesheets/nyroModal.css')
    script(type='text/javascript', src='/javascript/jquery.nyroModal.custom.js')
  body!= body