<!DOCTYPE html>
html(xmlns:fb="http://ogp.me/ns/fb#",xmlns="http://www.w3.org/1999/xhtml")
  head
    title title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/nyroModal.css')
    script(type='text/javascript', src='/javascripts/jquery.nyroModal.custom.js')
    script(type='text/javascript', src='/javascripts/jquery.ui.core.min.js')
    script(type='text/javascript', src='/javascripts/jquery.ui.widget.min.js')
    script(type='text/javascript', src='/javascripts/jquery.ui.rcarousel.min.js')
    script(type='text/javascript', src='/javascripts/main.js')
    link(rel='stylesheet', href='/stylesheets/rcarousel.css')
    script(type='text/javascript').
            $(function() {
                $('.nyroModal').nyroModal(
                {
                            callbacks: {
                                beforeShowCont: function(nm) {
                                    if (nm.opener.is('[prodId]')) {
                                        console.log('callback beforeShowCont ' + nm.opener.attr('prodId'));
                                        // ajax to /user & product status
                                        $.ajax({
                                          url: "/socialize/#{everyauth.facebook.user.id}/" + nm.opener.attr('prodId')+'/'+encodeURIComponent(nm.opener.attr('prodName')),
                                          context: document.body,
                                          success: function(data){
                                            $('.socialplugs'+nm.opener.attr('prodId')).empty();
                                            $('.socialplugs'+nm.opener.attr('prodId')).append(data);
                                          }
                                        });
                                            // blank product social bloc
                                            // retrieve status about an event matching the product and the user
                                            // display matching bloc
                                    }
                                },
                                close: function(nm){
                                    var img = '<img src="/images/FB-ajax-loader.gif">'
                                    $('.socialplugs'+nm.opener.attr('prodId')).empty();
                                    $('.socialplugs'+nm.opener.attr('prodId')).append(img);
                                }
                            }
                        }
                );
            });
  body.bodyfbapp!= body
    div#fb-root
    script.
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=291938840860900";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


    script.
          function sendRequestViaMultiFriendSelector() {
            FB.init({
                appId  : '291938840860900',
            });
            FB.ui({method: 'apprequests',
              message: 'Lets buy this product together!!',
              max_recipients:10,
            }, requestCallback);
          }

          function requestCallback(response) {
            // Handle callback here
            // TODO post a message on invited users' wall
            productid=$('#createEvent').attr('productid');
            if(response.to.length > 0) {
                $('#createEvent').attr('href', $('#createEvent').attr('href') +'?ids=' );
                for( id in response.to){
                    $('#createEvent').attr('href', $('#createEvent').attr('href') + response.to[id]);
                    if (id+1 < response.to.length) {
                        $('#createEvent').attr('href', $('#createEvent').attr('href') + ',' );
                    }
                }
                $.ajax({
                  url: $('#createEvent').attr('href'),
                  context: document.body,
                  success: function(data){
                    $('.socialplugs'+productid).empty();
                    $('.socialplugs'+productid).append(data);
                  }
                });
            }

          }