- urlToCreateEvent = '/createEvent/'+ everyauth.facebook.user.id + '/' +productid + '/' + encodeURIComponent(productname)

h1  Get it for free!!!
p
    |Get lot more fun by getting 10 of your friends buying this productand get your product for free !
    |Really easy to achieve, you just have to invite your friends and get them to buy the products in a two month time!
    br
    a#createEvent(href=urlToCreateEvent,productid=productid,onclick="sendRequestViaMultiFriendSelector(); return false;") Create a group and invite your friends
    br

