body.bodyfbapp {
    padding: 0;
    margin: 0;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

sup {
    line-height: 0.6em;
    font-size:10px;
}
a {
    color: #000000;
    text-decoration: none;
}

h1 {
    /*background-color: #d8d8da;*/
    margin: 0;
    font-size: 1.6em;
    text-align: center;
    padding-bottom: 5px;
}
h2{
    margin: 15px 0 0;
    font-size: 1.2em;
    text-align: center;
}
h3{
    margin: 15px 0 0;
    font-size: 1.8em;
    text-transform: uppercase;
}
.container_wrap {
		background:url(../images/tail.gif) repeat-x 0 0 #fff; height:910px;
	}
.container {
    width:800px;
    background-color: #f4f4f7;
    padding: 5px;
    overflow: hidden;
    margin:0 auto;
}
.box {
    background-color:white;
    border:1px solid #cccccc;
    padding: 5px;
    /*float: left;
    margin-top: 25px;*/
}

#header{
    margin-bottom: 30px;
    float: left;
}

.product {
    width:248px;
    height: 285px;
    float: left;
    display: block;
    margin-bottom: 20px;
}
.productImage{
    width:100%;
    background-color: #f0f0f0;
    height: 150px;
    overflow: hidden;
    text-align: center;
}
#content .box {
    margin-left: 10px;
}
.first{
    margin-left: 0px !important;
}

.hidden{
    display:none;
    width:500px;
}
.popin{
    padding: 5px;
}
.price{
    font-weight: bolder;
    float: left;
    font-size: 14px;
}
.carousel{
    border: 1px solid #e3e2e2;
    margin: 2px auto !important;
    background-color: white;
}

#carouselPages {
    margin: 10px auto;
    width:150px;
    text-align: center;
}

.bullet {
    background: url(/images/bulletoff.png) center center no-repeat;
    display: block;
    width: 10px;
    height: 8px;
    margin: 0;
    margin-right: 5px;
    float: left;
}
.bullet.on {
    background: url(/images/bulleton.png) center center no-repeat !important;
}
.bullet.off {
    background: url(/images/bulletoff.png) center center no-repeat;
}

.popinHeader{
    width:100%;
}
.popinTitle{
    float: left;
    width: 80%;
}
.popinPrice{
    font-size: 1.2em;
    text-align: right;
    line-height: 0.7em;
}
.popinPrice .price{
    float: none!important;
    font-size: 18px;
}
.popinBuy{
    width:70%;
    margin-top: 15px;
}
.short{
    float: left;
}
.buyButton{
    background-color: #fe830f;
    padding: 20px 10px 0;
    text-align: center;
    border: 1px solid #da6c03;
    float: right;
    width:20%;
    height:40px;
}

.buyButton a, .buyButton a:hover, .buyButton a:visited {
    color: #ffffff;
    font-weight: bold;
}
.popinBuy p{
    margin: 0;
    padding: 0;
    color: #6E6E6E;
}
.addthisFBShop{
    float: right;
}

.socialplugs{
    padding: 5px;
    text-align: center;
    border: 1px solid #B0B0B0;
}
.popinContent{
    width:70%;
}
.popinProduct{
    width:750px;
    background:#f3f5f4;
    padding-right: 20px
}
.popinProduct .short{
    font-variant: small-caps;
    line-height: 1em;
}

.buyit{
    float: left;
}

/* Custom Columns
-------------------------------------------------------------- */

	.column_1, .column_2, { float:left;}

	.column_1 { width:485px;}
	.column_2 { width:265px;}


/* Clear Floated Elements
-------------------------------------------------------------- */

	.clear, .clearfix:after {
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}

	.clearfix:after {
		content: '.';
		font-size: 	0;
		line-height: 0;
	}
	.clearfix {	position:relative; display: inline-block;}
	* html .clearfix {	height: 1%;}
	.clearfix {	display: block;}