body.bodyfbapp {
    padding: 0;
    margin: 0;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

h1 {
    background-color: #d8d8da;
    margin: 0;
    font-size: 1.6em;
    text-align: center;
    padding-bottom: 5px;
}
h2{
    margin: 15px 0 0;
    font-size: 1.2em;
}
h3{
    margin: 0px 0 15px;
    font-size: 1.8em;
}
#fbbody{
    width:520px;
    background-color: #f4f4f7;
    padding: 5px;
    overflow: hidden;
}
.box {
    background-color:white;
    border:1px solid #e3e3e3;
    padding: 5px;
    float: left;
    margin-top: 25px;
}

#header{
    width:508px;
    margin-bottom: 10px;
}
.product {
    width:245px;
    height: 285px;
    float: left;
    display: block;
}
.productImage{
    width:100%;
    background-color: #f0f0f0;
    height: 150px;
    overflow: hidden;
    text-align: center;
}
.rightBox{
    margin-left: 6px;
}

.hidden{
    display:none;
    width:500px;
}
.popin{
    padding: 5px;
}
.price{
    font-weight: bold;
    float: left;
}
#carousel{
    border: 1px solid #e3e2e2;
    padding: 5px;
    background-color: white;
}

#carouselPages {
    margin: 0 auto;
    width:150px;
    text-align: center;
}

.bullet {
    background: url(/images/bulletoff.png) center center no-repeat;
    display: block;
    width: 10px;
    height: 8px;
    margin: 0;
    margin-right: 5px;
    float: left;
}

#popinHeader{
    width:100%;
}
#popinTitle{
    float: left;
    width: 80%;
}
#popinPrice{
    font-size: 1.2em;
    padding-top: 7px;
    text-align: right;
}
#popinPrice .price{
    float: none!important;
}
#popinBuy{
    width:100%;
    margin-top: 15px;
}
.short{
    float: left;
}
.buyButton{
    background-color: #fe830f;
    padding: 10px;
    text-align: center;
    border: 1px solid #da6c03;
    float: right;
}
.buyButton a, .buyButton a:hover, .buyButton a:visited {
    color: #ffffff;
    font-weight: bold;
}
#popinBuy p{
    margin: 0;
    padding: 0;
    color: #6E6E6E;
}
.addthisFBShop{
    width: 30%;
    float: right;
}